/* Enable smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Make nav sticky */
main > nav {
    position: sticky;
    top: 2rem;
    align-self: start;
    margin-left: 3rem;
}

/* ScrollSpy active styles */
.section-nav li.active > a {
    color: #333333;
    font-weight: bold;
}

/* Sidebar Navigation */
.section-nav {
    padding-left: 0;
    border-left: 1px solid #dddddd;
}

.section-nav a {
    text-decoration: none;
    display: block;
    padding: .125rem 0;
    color: #888888;
    transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
    color: #000000;
}

/** Poor man's reset **/
* {
    box-sizing: border-box;
}

html, body {
    background: #ffffff;
}

body {
    font-family: sans-serif;
}

.section-nav ul, .section-nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.section-nav li, .section-nav h2 {
    margin-left: 1rem;
}

/** page layout **/
main {
    display: grid;
    grid-template-columns: 1fr 25em;
    max-width: 100em;
    width: 80%;
    margin: 0 auto;
}

h2 {
    margin-top: 4rem;
}
nav > h2 {
    margin-top: 0;
}

h3 {
    margin-top: 2rem;
}

p, dd {
    line-height: 1.4;
    text-align: justify;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

dd {
    grid-column-start: 2;
    margin-bottom: 1rem;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header-section {
    margin-bottom: 2rem;
}

.dt-image {
    float: left;
    margin-right: 0.6rem;
}

.image-top-left {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.image-top-right {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
